<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Registration and Login App</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
	
<style>
	body {
			font-family: Arial, Helvetica, sans-serif;
			background-image: url("images/img6.jpeg");
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: cover;
		}
				
</style>

</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
			</div>
			
				<a class="navbar-brand" href="/" th:href="@{/employees/list}" target="_blank">Employee Details</a>
		
					<a class="navbar-brand" href="/" th:href="@{/medicines/list}" target="_blank">Medicine Details</a>
					
					<a class="navbar-brand" href="/" th:href="@{/customers/list}" target="_blank">Customer Details</a>
					

			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">
		
		<marquee>
        <h1 style=" text-shadow: 2px 0px 0px rgb(0, 0, 64); text-align: center;">Welcome To Medical Shop Management Project</h1>
		</marquee>
		<h3 style="text-shadow: 2px 0px 0px rgb(128, 0, 255); padding: 5px 8px; ">Hello!!! <span sec:authentication=" principal.username"> User</span></h3>
		<br><br>
		
	</div>
</body>
</html>